body {
    color: #555555;
    font: 16px/1.6em "微软雅黑", Tahoma, Geneva, sans-serif;
    line-height: 200%;
    position: relative;
}

.banner{
    position:relative;
}
.banner1{
    background:url(../images/banner01.jpg)no-repeat 0px 0px;
    background-size:cover;
}
.banner2{
    background:url(../images/banner02.jpg)no-repeat 0px 0px;
    background-size:cover;
}
.banner3{
    background:url(../images/banner03.jpg)no-repeat 0px 0px;
    background-size:cover;
}
.banner4{
    background:url(../images/banner04.jpg)no-repeat 0px 0px;
    background-size:cover;
}
.bannerbg::before{
    content:"";
    display: block;
    padding-bottom: 13.8%;
}
.bannerbg::after{
    content:"";
    display: block;
    padding-bottom: 13.8%;
}
/*--//banner--*/
/*------------------ Slider Part starts Here----------*/

.logo h1 {
    font-size: 24px;
}

#slider3,#slider4 {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    margin: 0 auto;
}

.callbacks_container {
    position: relative;
    width: 100%;
}

.rslides_tabs {
    list-style: none;
    padding: 0;
    background: rgba(0,0,0,.25);
    box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
    font-size: 18px;
    list-style: none;
    margin: 0 auto 50px;
    max-width: 540px;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
.rslides_tabs li {
    display: inline;
    float: none;
    margin-right: 1px;
}
.rslides_tabs a {
    width: auto;
    line-height: 20px;
    padding: 9px 20px;
    height: auto;
    background: transparent;
    display: inline;
}
.rslides_tabs li:first-child {
    margin-left: 0;
}
.rslides_tabs .rslides_here a {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-weight: bold;
}


.marketing{
    /*margin-top: 10%;*/
    margin-bottom: 10%;
}

.alert, .alert h4 {
    color: #C09853;
}
.alert {
    width: 100%;
    height: 100px;
    background-color: #90c9ff;
}
.alert {
    padding: 8px 35px 8px 14px;
    /*margin-bottom: 20px;*/
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    background-color: #D9EDF7;
    border: 1px solid #FBEED5;
    border-radius: 4px;
    text-align: center;
    height: 100px;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 49%;
    left: 3%;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 32px;
    width: 32px;
    background: transparent url("../images/icons.png") no-repeat 0px 0px;
}
.callbacks_nav:active {
    opacity: 1.0;
}
.callbacks_nav.next {
    left: auto;
    right: 3%;
    background: url(../images/icons.png)no-repeat -36px 0px;
}

/*contacts*/

.pr_message_div{
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #ebf6ff;
}

.pr_contacts {
    background-color: #ebf6ff;
    background-color: #ebf6ff;
    border-bottom:  1px solid #c1c1c1;
}
.pr_contacts p {
    color: #555;
    font: 15px/200% "微软雅黑", Tahoma, Geneva, sans-serif;
}

.pr_message h1{
    color: #1979CA;
}

.pr_message small {
    color: #2f9fef;
    font-size: 12px;
    letter-spacing: 3px;
    padding-left: 5px;
}

.pr_input {
    margin-top: 5px;
    background-color: #ebf6ff;
    padding-bottom: 5px;
}
.weixin_img::before{
    content:"";
    display: block;
    padding-bottom: 36%;
}
.weixin_img{
    background: url(../images/weixing.jpg) no-repeat 0px 0px;
    background-size: cover;
}
.weixin_img::after{
    content:"";
    display: block;
    padding-bottom: 36%;
}
.indexlogo_img{
    background: url(../images/logo.png) no-repeat left center;
    background-size: 165px 54px;
    display: block;
    width: 170px;
    height: 60px;
}

h2.heading {
    margin: 0 0px 0.3em 0;
    color: #2c5db7;
    font-size: 2em;
    font-family: "标楷体",arial,verdana, helvetica, sans-serif;
    font-weight: 900;
    letter-spacing: 6px;
}

h2.heading small{
    padding-left: 1em;
    font-family: 'Slabo27px-Regular';
    line-height: 1em;
    color: #467bb7;
    font-weight: 800;
}

/*news*/
.pr_news {
    border-bottom: 1px solid #c1c1c1;
    background-color: #ffffff;
    padding-top: 2%;
    padding-bottom: 1%;
}

.pr_news h3 small {
    color: #a6b0c0;
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 8px;
}

.pr_readmore {
    float: right;
}

.pr_news a:link {
    color: #555555;
}

.index_3{
    margin-top: 4em;
}

.index_3 ul {
    list-style: none;
}
.index_3 a {
    color: #555555;
    transition: color 0.3s ease-in;
    text-decoration: none;
}
.index_3 a:hover{
    color: #1058b4;
}
ul {
    list-style: none;
}
.about_coreValue{
    text-align: left;
}
.about_coreValue li {
    color: #555555;
    font-size: 20px;
    height: 2em;
    font-weight: 600;
    display:table;
}

.about_coreValue a {
    color: #555555;
    padding-left: 0.5em;
    font-size: 20px;
}
.about_coreValue a:hover {
    text-decoration:none;
}
.about1{
    margin-top: 5%;
    padding-top: 1%;
}
.about-text{
    margin-top: 10px;
    padding-top: 10px;
}
.span1{
    padding-left: 1em;
}
.advantage{
    color:#fff;
}
.advantage small{
    color:#fff;
}

.a_right{
    float:right;
}
.a_img{
    margin-left: 6em;
}

.why_choose_us h3{
    font-size: 1.5em;
}



